*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin: 0 auto;
    max-width: 1300px;
    justify-content: center;
}

.hero-section {
    display: flex; /*  */
    background-color: red;
}